body{
    margin: 0;
}

html{
    background-color: #f8f8ff;
}

.App{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url('../images/bank-of-england.jpg'); */
    background-size: contain;
    font-family: 'Raleway', sans-serif !important;
}
.headerBox{
    display: flex;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}
.subheaderBox{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.subheadText{
    color: white;
    font-family: 'Raleway', sans-serif;
}
.headText{
    font-family: 'Raleway', sans-serif;
}

.display{
    position: fixed;
    height: 62vh;
    width: 60vw;
    background-image: url('../images/bank-of-england.jpg');
    background-size: cover;
    top: 25%;
}
.colorCover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    flex-direction: row;
}
.leftSide{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.rightSide{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    border: 1px solid white;
}

.mainImage{
    /* background-image: url('../images/lock-screen-password-key-data-computer-security-vector-24138355.jpg'); */
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 1200px) {
    .leftSide{
        width: 100%;
    }
    .rightSide{
        display: none;
    }
  }



