.homeText{
    color: white;
    text-align: center;
    font-size: 18;
}
.homesubText{
    color: white;
    text-align: center;
    font-size: 16px;
}
.homeSpace{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.logoutSpace{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.logout {
	background-color:#ffffff;
	border-radius:42px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family: 'Raleway', sans-serif;
	font-size:17px;
	font-weight:bold;
	padding:12px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.logout:hover{
	background-color:#000000;
	color: white;
}
.logout:active{
	position:relative;
	top:1px;
}