

.column{
  position: fixed;
  width: 50vh;
  height: 65vh;
  top: 70%;
  left: 75%;
 transform: translate(-50%, -50%);
}

.reverse{
  position: fixed;
  top: 75%;
  left: 50%;
 transform: translate(-50%, -50%);
}

.form-group{
  padding-top: 25px;
  padding-bottom: 25px;
}
.form-control{
    font-size: large;
    border: none;
    border-bottom: 2px solid black;
}

.rightSide{
    position: fixed;
    width: 50vh;
    height: 65vh;
    top: 50%;
    left: 75%;
   transform: translate(-50%, -50%);
   background-image: url('../images/lock-screen-password-key-data-computer-security-vector-24138355.jpg');
   background-size: contain;
}

.leftSide{
  position: fixed;
  width: 50vh;
  height: 65vh;
  top: 50%;
  left: 25%;
 transform: translate(-50%, -50%);
background-color: white;
}

.headerBox{
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  padding-top: 100px;
}

.subheaderBox{
  position: relative;
  transform: translate(-50%, -175%);
  left: 50%;
  padding-top: 30px;
}

.wrongPassword{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  transform: translate(-5px);
}

.signupErr{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  transform: translate(-15px,-10px);
  width: 300px;
  font-size: 15px;
}

.headText{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(248, 167, 16); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */ 
  }

  .subheadText{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(248, 167, 16); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 8s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
  
  